@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
}


/* Text animation in the MEETREADY */


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 32px;
  font-weight: 900;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1.5px purple;
  color: white;
}

.container span:nth-child(1) {
  animation: animate 1s linear;
  animation-delay: 1s;
}
.container span:nth-child(2) {
  animation: animate 1s linear;
  animation-delay: 1.2s;
}
.container span:nth-child(3) {
  animation: animate 1s linear;
  animation-delay: 1.4s;
}
.container span:nth-child(4) {
  animation: animate 1s linear;
  animation-delay: 1.6s;
}
.container span:nth-child(5) {
  animation: animate 1s linear;
  animation-delay: 1.8s;
}
.container span:nth-child(6) {
  animation: animate 1s linear;
  animation-delay: 2s;
}
.container span:nth-child(7) {
  animation: animate 1s linear;
  animation-delay: 2.2s;
}
.container span:nth-child(8) {
  animation: animate 1s linear;
  animation-delay: 2.4s;
}
.container span:nth-child(9) {
  animation: animate 1s linear;
  animation-delay: 2.6s;
}
@keyframes animate {
  0% {
    transform: translateX(300px);
    opacity: 0;
    scale: 8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
